body {
    background-color: rgba(56, 157, 204, 0.836);
}
nav {
    background-color: rgba(255, 166, 0, 0.733);
    color: snow;
    font-size: 16px;
    font-family: cursive;
}
h1 {
    color: rgb(25, 132, 240);
    font-size: 36px;
}
h2 {
    color: rgba(255, 166, 0, 0.651);
    font-size: 32px;
    font-family: cursive;
}
h3 {
    color: rgb(25, 132, 240);
    font-size: 28px;
    font-family: cursive;
}
p {
    color: rgba(146, 98, 9, 0.849);
    font-size: 20px;
    font-family: cursive;
}
button {
    color: rgb(30, 151, 207);
    background-color: rgba(255, 166, 0, 0.616);
    padding: 14px 40px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    text-align: center;
}